/* Page */
body {
    margin: 0;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.header {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.header-field {
    padding: 0.5em;
}

.header-field-selected {
    background-color: gray;
}

.main {
    min-height: 70%;
    /* fill the page vertically to 100% minus header */
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

.placeholder {
    z-index: -5;
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

/* Fields for content */
.content-field {
    height: 100%;
    width: 33%;
    padding: 0 2pt;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.ml-auto {
    margin-left: auto;
}

/* Facsimiles */
.frame {
    flex-grow: 1;
    border: 1pt solid black;
    overflow-y: auto;
}

/* Text edition */
.edition {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 1.2em;
}

.scrollable-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.scrollable-text {
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Format verse */
lg {
    width: fit-content;
    counter-reset: line-counter 0;
}

l {
    display: block;
    counter-increment: line-counter 1;
}

l:nth-of-type(5n):before {
    position: absolute;
    left: 0em;
    content: counter(line-counter);
    font-size: smaller;
}

lg.title {
    text-align: center;
    margin-bottom: 1em;
}

lg.title>l {
    margin-bottom: 0.3em;
}

lg.alcaic>l:nth-of-type(4n -1) {
    margin-left: 1em;
}

lg.alcaic>l:nth-of-type(4n) {
    margin-left: 2em;
    padding-bottom: 1em;
}

lg.asclep4>l:nth-of-type(2n) {
    margin-left: 2em;
}

lg.distichon>l:nth-of-type(2n) {
    margin-left: 1em;
}

lg.sapphic>l:nth-of-type(4n) {
    margin-left: 2em;
    padding-bottom: 1em;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: lightgray;
    text-decoration: underline;
}

.dropdown-container {
    display: none;
}

.dropdown:hover .dropdown-container {
    display: block;
    transition-duration: 0.1s;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: whitesmoke;
    border: 1pt solid black;
    padding: 0.25em;
    max-height: 50vh;
    overflow-y: auto;
    width: max-content;
}

.dropdown-item {
    padding: 0.5em;
}

.option:hover {
    background-color: lightgray;
    text-decoration: underline;
    transition-duration: 0.1s;
}


/* Typography */
h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0.5em;
}

.centered {
    text-align: center;
}

.cursive {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

.upper {
    text-transform: uppercase;
}

v {
    text-decoration: dotted underline;
    text-decoration-thickness: 2pt;
}

/* Classes meant to override others */
.display-none {
    display: none;
}