body {
    margin: 0;
    background-color: blanchedalmond;
}

.balde-header {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

.edition-menu {
    display: flex;
}

input[type=checkbox] {
    transform: scale(1.2);
}

.main {
    display: flex;
    flex-direction: row;
}

.placeholder {
    z-index: -5;
    position: absolute;
    top: 30%;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.embedded-iiif {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.iiif {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 33%;
    height: 90vh;
}

.frame {
    height: 100%;
}

.edition {
    margin: 0 2em;
}

.text {
    display: none;
    padding: 0 2em;
}

l {
    display: block;
    counter-increment: line-counter 1;
}

lg {
    position: absolute;
    counter-reset: line-counter 0;
}

lg>l:nth-child(5n):before {
    position: absolute;
    left: -2em;
    content: counter(line-counter);
    font-size: smaller;
}

lg.alcaic>l:nth-child(4n -1) {
    margin-left: 1em;
}

lg.alcaic>l:nth-child(4n) {
    margin-left: 2em;
    padding-bottom: 1em;
}

lg.distichon>l:nth-child(even) {
    margin-left: 1em;
}

lg.sapphic>l:nth-child(4n) {
    margin-left: 2em;
    padding-bottom: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0.2);
}

.dropdown-content {
    display: none;
    z-index: 10;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0.2);
    padding: 0.25em;
    max-height: 30vh;
    overflow-y: auto;
    width: 12em;
}

.header-field {
    padding: 0.5em;
}


.option {
    display: flex;
    align-items: center;
}

.option-selected {
    background-color: gray;
}

.option:hover {
    background-color: lightgray;
    text-decoration: underline;
    transition-duration: 0.1s;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 0.1s;
}

.display-none {
    display: none;
}